.event-info {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: relative;
    padding: 24px 14px;
    display: flex;
    flex-direction: column;
    width: 25%;
  }

  &__buttons-block {
    position: absolute;
    right: 3px;
    top: 3px;
  }
  &__btn {
    outline: none;
    border: none;
    cursor: pointer;

    width: 24px;
    height: 24px;
    background: transparent;
    :hover {
      background-color: #9cb9ef;
      border-radius: 10px;
    }
  }
  &__close-btn {
  }
  &__delete-btn {
  }

  &__title {
    margin-bottom: 8px;
    overflow-wrap: break-word;
  }
  &__time {
    margin-bottom: 8px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #cccccc45;
  z-index: 10;
}
