.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);

  &__time-slot {
    height: 59px;
    position: relative;
    border-bottom: 1px solid #eee;
    &__line {
      position: relative;
      margin: 0px;
      height: 2px;
      background-color: #ff0000;
      border: none;
      z-index: 1;
    }
    &__dot {
      position: relative;
      margin: 0;
      left: -4px;
      width: 8px;
      height: 8px;
      background-color: #ff0000;
      border-radius: 50%;
      z-index: 1;
    }
  }
}
