.event {
  position: absolute;
  width: 90%;
  background-color: cornflowerblue;
  z-index: 1;
  border-radius: 4px;
  color: #fff;
  padding: 2px;
  padding-left: 8px;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 2px;
    font-size: 12px;
  }

  &__time {
    font-size: 12px;
    overflow: hidden;
  }

  &__delete-btn {
    display: none;
  }

  &:hover {
    .event {
      position: absolute;
    }
    cursor: pointer;
    z-index: 999;
    box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.73);

    .event__title {
      white-space: normal;
    }

    .event__delete-btn {
      display: block;
      cursor: pointer;
      border: none;
      border-radius: 50%;
      position: absolute;
      top: 5px;
      right: 5px;
      width: 15px;
      height: 15px;
      padding: 0;
      margin: 0;
      line-height: 10px;
      transform: rotate(45deg);
    }
  }
}
