.event {
  position: absolute;
  width: 80%;
  background-color: cornflowerblue;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: #fff;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &__delete-btn {
    display: none;
  }

  &:hover {
    font-weight: bold;
    background-color: red;

    .event__delete-btn {
      display: block;
      cursor: pointer;
      border: none;
      border-radius: 50%;
      position: absolute;
      top: 5px;
      right: 5px;
      width: 15px;
      height: 15px;
      padding: 0;
      margin: 0;
      line-height: 10px;
      transform: rotate(45deg);
    }
  }
}
